body{
    font-family: 'Lato', sans-serif;
}
.picture{
    background-image: url("main-page/components/gym.jpg");
    background-size: cover;
    padding-bottom: 200px;

}


nav a img {
    width: 3rem;
    filter: invert(1);
    margin-right: 30px;
}


.navbar-nav{
    font-size: 1.1rem;
}
#description-cards p{
    color: #8190A5;
}

footer {
    background-color: #47525E;
    color: white;
    font-size: 1.1rem;

}

footer img {
    width: 20px;
    margin-left: 5px;
}

.socials,
.menu li {
   padding: 5px 5px;
}


footer .menu a{
    color: #F7F7F7;
    text-decoration: none;
}





