@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato';
}


nav {
    background-color: #343F4B;
    max-height: 62px;
}

.navbar-nav{    
    font-size: 1.1rem;
}

nav a img {
    width: 3rem;
    filter: invert(1);
}

#page-container{
    position: relative;
    min-height: 100vh;
    background-color:  rgba(150, 159, 170, 0.47);
    padding-bottom: 256px;
}

/* .for-back{
    padding: 2.5rem 3rem;
    background-color: rgba(150, 159, 170, 0.47);

} */
.whole-content{
    background-color: #FFFFFF;
    border: 1px solid #969FAA;
    border-radius: 10px;
    padding-bottom: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    min-height: 100px;
    overflow: hidden;
}
.center{
    margin: auto;
    position: relative;
    height: 500px;
    width: 70%;
    background-color: #FFFFFF; 
 }

.titleofworkout{
    text-align: center;
}
#fotka{
    width:300px;
    height:400px; 
    float: left;    
}
.profile-photo-of-role-model{
    width:300px;
    height:400px; 
    float: left;
}
.right-to-image{
    vertical-align: bottom;
    float: middle;
    height: 400px;
}
.tekist{
    margin:auto;
    padding: 80px 0;
    font-size: large;
}
/* .button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    border-radius: 4px;
} */
.button5:hover {
    background-color: #555555;
    color: white;
}
.addedbut{
    background-color: #555555;
    color: white;
    border: 2px solid #555555;
    border-radius: 4px;
}
.simpleTable{
    border-collapse: collapse;
    box-sizing: border-box;
    border-spacing: 2px;
    border-color: grey;
    margin-left:auto; 
    margin-right:auto;
    width: 100%;
} 
.bold-texted-td{
    font-weight: bold;
}
.link-to-ex{
    color: black;
}
.time-for-ex-or-set{
    text-align: right;
}
.table-title{
    text-align: center;
    
}
.filt_table-title{
    text-align: center;
    margin-top: 70px;
}
.simpleTable td, .simpleTable th {
        border: 1px solid #dddddd;
        padding: 8px;
        text-align: left;
}
.simpleTable tr:hover {background-color: #ddd;}
.simpleTable th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
      }
.workoutDif{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    width: 50%;
}

/* footer {
    display: flex;
    background-color: #47525E;
    padding: 3rem 5rem;
} */

footer {
    background-color: #47525E;
    color: white;
    font-size: 1.1rem;
    max-height: 256px;
    position: absolute;
    width: 100%;
    bottom: 0;
}

footer img {
    width: 20px;
    margin-left: 5px;
}

.socials,
.menu li {
   padding: 5px 5px;
}

footer .menu a{
    color: #F7F7F7;
    text-decoration: none;
}