@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato';
}

nav {
    background-color: #343F4B;
}

.navbar-nav{
    font-size: 1.1rem;
}

nav a img {
    width: 3rem;
    filter: invert(1);
}


.for-back{
    padding: 2.5rem 3rem;
    background-color: rgba(150, 159, 170, 0.47);

}
.whole-content{
    background-color: #FFFFFF;
    border: 1px solid #969FAA;
    border-radius: 10px;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    padding-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.center{margin: auto;
    position: relative;
    height: 500px;
    width: 50%;
    background-color: #FFFFFF; 
 }

.titleofworkout{
    text-align: center;
}
.profile-photo-of-role-model{
    width:300px;
    height:360px; 
    float: left;
}
.right-to-image{
    vertical-align: bottom;

}
.simpleTable{
    border-collapse: collapse;
    box-sizing: border-box;
    border-spacing: 2px;
    border-color: grey;
    margin-left:auto; 
    margin-right:auto;
    width: 100%;
} 
.bold-texted-td{
    font-weight: bold;
}
.link-to-ex{
    color: black;
}
.time-for-ex-or-set{
    text-align: right;
}
.table-title{
    text-align: center;
}
.simpleTable td, .simpleTable th {
        border: 1px solid #ddd;
        padding: 8px;
}
.simpleTable tr:hover {background-color: #ddd;}
.simpleTable th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
      }
.td-aligned-to-sento{
    text-align: center;
}
.workoutDif{
    margin: auto;
    width: 50%;
}
footer {
    display: flex;
    background-color: #47525E;
    padding: 3rem 5rem;
}

footer {
    background-color: #47525E;
    color: white;
    font-size: 1.1rem;
}

footer img {
    width: 20px;
    margin-left: 5px;
}

.socials,
.menu li {
   padding: 5px 5px;
}

footer .menu a{
    color: #F7F7F7;
    text-decoration: none;
}