
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato';
}

nav {
    background-color: #343F4B;
}

.navbar-nav{
    font-size: 1.1rem;
}

nav a img {
    width: 3rem;
    filter: invert(1);
}

.profile-wrapper {
    padding: 2.5rem 3rem;
    margin: auto;
    background-color: rgba(150, 159, 170, 0.47);
}

.profile, .workouts {
    background-color: #FFFFFF;
    border: 1px solid #969FAA;
    border-radius: 10px;
    margin: auto;
    width: 70%;
    margin-bottom: 3rem; 
}

.profile {
    display: flex;
    padding: 3rem;
}

.profile img {
    display: block;
    width: 250px;
    opacity: 0.5;
}

.profile-text {
    padding: 1rem 0;
    padding-left: 6rem;
}

.profile-text > * {
    padding-bottom: 1.5rem;
}

.profile-text h1 {
    font-size: 2.5 rem;
    color: #47525E;
}

.profile-text h2 {
    font-size: 2rem;
    color: #5A6978;
}

.profile-text a {
    display: inline-block;
    font-size: 1.5rem;
    color: #47525E;
    border: 2px solid #47525E;
    border-radius: 5px;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
}

.workouts {
    display: flex;
}

.workouts .tabs {
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
}

.workouts .tabs a {
    padding: 1.25rem 2rem;
    color: #5A6978;
    text-decoration: none;
    border-bottom: 1px solid #969FAA;
    border-right: 1px solid #969FAA;
}

.workouts .tabs a:last-child {
    border-bottom: none;
}

.workouts .tabs .active {
    font-weight: bold;
}

.workouts .tab {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.workouts .tab p {
    font-size: 1.5rem;
    color: #5A6978;
    margin-bottom: 1rem;
}

.workouts .tab a {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #47525E;
    padding: 1rem 2rem;
    font-size: 1.25rem;
    border-radius: 5px;
}

footer {
    background-color: #47525E;
    color: white;
    font-size: 1.1rem;

}

footer img {
    width: 20px;
    margin-left: 5px;
}

.socials,
.menu li {
   padding: 5px 5px;
}


footer .menu a{
    color: #F7F7F7;
    text-decoration: none;
}



