body {
    font-family: 'Lato';
    background-color:  rgba(150, 159, 170, 0.47);
}

nav {
    background-color: #343F4B;
}

.navbar-nav{
    font-size: 1.1rem;
}

nav a img {
    width: 3rem;
    filter: invert(1);
}

#search-result-container{
    background-color: white;
    border-radius: 10px;
    margin: 2rem auto;
    padding: 10px;
    width: 60%;
}

.see-more{
    margin-left: 70%;
}

.search-result{
    padding: 10px;
}

footer {
    background-color: #47525E;
    color: white;
    font-size: 1.1rem;

}

footer img {
    width: 20px;
    margin-left: 5px;
}

.socials,
.menu li {
   padding: 5px 5px;
}


footer .menu a{
    color: #F7F7F7;
    text-decoration: none;
}