body {
    font-family: 'Lato';
}

nav {
    background-color: #343F4B;
}

.navbar-nav{
    font-size: 1.1rem;
}

nav a img {
    width: 3rem;
    filter: invert(1);
}


.wrapper {
    padding: 2.5rem 3rem;
    margin: auto;
    background-color: rgba(150, 159, 170, 0.47);
}

.profile {
    background-color: #FFFFFF;
    border: 1px solid #969FAA;
    border-radius: 10px;
    margin: auto;
    width: 70%;
    height: 90%;
    margin-bottom: 3rem; 
    display: flex;
    padding: 3rem;
    /* text-align: center; */
}

.profile-text {
    /* font-size: 2.5 rem; */
    color: #47525E;
    text-align: center;
    margin: auto;
    height: 500px;
}

.question {
    margin-top: 30px;
    border-collapse: collapse;
}
 td {
    border: 1px solid #47525E; 
    width: 600px;
    height: 20px;
    padding-left: 12px;
    /* margin: 1px; */
    color: #47525E;
    text-align: left;
    font-size: 1.25rem;
 }

tr img {
    background-color: #FFFFFF;
    width:35px;
    margin-left: 20px;
}

.falsebut, .truebut {
    /*border: none;*/
    background-color: #FFFFFF;
    background-image: transparent url('/images/background.jpeg'), no-repeat;
    /*margin:2px;*/
    /* width: 25px; */
    /*padding: 2px 2px;*/
    border-radius: 50%;
    border: 1px solid rgb(122, 97, 97);
    float: right;
    margin: 3px;
}
.truebut:hover, .falsebut:hover{
    background-color: grey;
}
.butcd {
    /*border: none;*/
    background-color:black;
    /*margin:2px;*/
    /* width: 25px; */
    /*padding: 2px 2px;*/
    border-radius: 50%;
    border: 1px solid black;
    color: white;
    float: right;
    margin: 3px;
}


.falsebut {
    width: 30px;
} 


#results {
    background-color: #47525E;
    margin:2.75rem;
    width: 200px;
    height: 50px;
    color:#ffffff;
    font-size: 20px;
    border-radius: 5px;
}


footer {
    background-color: #47525E;
    color: white;
    font-size: 1.1rem;

}

footer img {
    width: 20px;
    margin-left: 5px;
}

.socials,
.menu li {
   padding: 5px 5px;
}


footer .menu a{
    color: #F7F7F7;
    text-decoration: none;
}
.title_of_comptest{
    font-weight: bold;
}





.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    /* z-index: 1; Sit on top */
    padding-top: 200px; /* Location of the box */
    padding-left:50px;
    padding-right:50px;
    left: 0;
    top: 0;
    width: 50%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .button4 {
    margin: auto;
}
.addedtmlb, .button4:hover {
    background-color: #555555;
    color: white;
    margin: auto;
}